{% import "utils/elements.njk" as els %}

{% macro image(src) -%}
<figure>
  <img src="{{ src }}" alt="">
  <figcaption>
    {{- caller() -}}
    {{ els.btn("see image") }}
  </figcaption>
</figure>
{%- endmacro %}

{% macro photo(slug) -%}
{% set post = collections.post | findBySlug(slug) %}
<h2>{{ post.data.title }}</h2>
{%- endmacro %}
